/* Write your CSS here */
* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Roboto';
}
.container {
  background-color: #07080c;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.h1 {
  color: #ffffff;
  font-size: 38px;
  font-weight: 500;
  font-family: 'Roboto';
  margin: 60px;
  text-align: center;
}

.speed {
  height: 36px;
  width: 85px;
  border-radius: 10px;
  background-color: #0b69ff;
  color: #ffffff;

  margin: 18px;
}
.brakes {
  height: 36px;
  width: 85px;
  border-radius: 10px;
  background-color: transparent;
  border: 1px solid #cbd5e1;
  color: #94a3b8;

  font-weight: 400;
  cursor: pointer;
  margin: 10px;
}
.image {
  height: 450px;
  width: 600px;
}
.changeSpeed {
  color: #ffffff;
  font-size: 36px;
  font-weight: bold;
}
p {
  color: #ffffff;
  font-size: 12px;
  font-weight: 400;
  margin-bottom: 15px;
}
.bCon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.imageH1 {
  margin-top: 30px;
  margin-bottom: 30px;
}
